:root { 
--blue_gray_50_01:#eff2f4; 
--blue_gray_200:#bcc6cc; 
--blue_gray_100:#d9d9d9; 
--blue_gray_50:#e8edf2; 
--gray_900:#0c161c; 
--blue_600:#2193dd; 
--blue_gray_500:#4f7a93; 
--gray_900_01:#111416; 
--gray_200:#e5e8ea; 
--gray_300:#dbe0e5; 
--gray_50:#f7f9f9; 
--blue_gray_500_01:#637787; 
--white_A700:#ffffff; 
}